@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #0041557c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
